/*Colors*/
/*Colors*/
/*Button colors*/
/*Button colors*/
/*Badge colors*/
/*Badge colors*/
* {
  box-sizing: border-box;
}

body {
  background-color: #F8F8F8;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  cursor: pointer;
}

body {
  font-family: 'Inter';
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  padding: 0 10%;
}

.btn {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  border: none;
}

/*Buttons with theme*/
.btn-primary {
  background-color: #EDEDF0;
  padding: 10px 20px;
  border-radius: 20px;
}

.btn-orange {
  background-color: #F2994A;
  padding: 10px 20px;
  border-radius: 20px;
}

.btn-blue {
  background-color: #56CCF2;
  padding: 10px 20px;
  border-radius: 20px;
}

.btn-red {
  background-color: #F44336;
  padding: 10px 20px;
  border-radius: 20px;
}

/*Buttons with theme*/
.badge-deal {
  display: inline-block;
  background-color: #FDEDF2;
  padding: 10px 10px;
  color: #C23564;
  border-radius: 5px;
  border: none;
  font-weight: 700;
}

.badge-sale {
  display: inline-block;
  background-color: #ECF7ED;
  padding: 10px 10px;
  color: #37833B;
  border-radius: 5px;
  border: none;
  font-weight: 700;
}

header {
  margin-top: 1%;
  margin-bottom: 3%;
}

header > .row {
  align-items: center;
}

header img[alt="logo"] {
  width: 100%;
}

header nav ul {
  display: flex;
  justify-content: space-evenly;
}

header nav a {
  color: #5A5B6A;
}

header .search {
  text-align: center;
  padding: 0 25px;
}

header .search input {
  width: 100%;
  background-color: #EDEDF0;
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
}

header .user-side {
  text-align: right;
  display: flex;
  justify-content: space-evenly;
}

header .user-side .btn {
  color: #2264D1;
  font-weight: 700;
  font-size: 15px;
  border-radius: 4px;
  padding: 10px 12px;
}

header .user-side .btn-sign {
  background-color: transparent;
  border: 1px solid #9DC2FF;
}

header .user-side .btn-card {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
}

#products {
  background-color: #fff;
  padding: 5% 1%;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
}

#products .product-wrapper {
  padding: 10px;
  margin-top: 5%;
}

#products .product-wrapper img[alt="product"] {
  width: 100%;
}

#products button, #products .rating {
  display: inline-block;
}

#products .price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#products .price span {
  font-weight: 700;
  font-size: 24px;
}

#products .info {
  color: #787885;
}

#products .product-footer .rating {
  font-size: 12px;
}

#products .product-footer button {
  background-color: transparent;
  border: 1px solid #9DC2FF;
  border-radius: 4px;
  padding: 8px 12px;
}

#departments .btn-departments {
  padding: 20px;
}

#departments .btn {
  color: #2264D1;
  font-weight: 700;
  font-size: 15px;
  border-radius: 4px;
  padding: 10px 10%;
  background-color: transparent;
  border: 1px solid #9DC2FF;
}

#departments .btn img {
  padding-right: 20%;
}

@media only screen and (min-width: 0) {
  .col-xs-1 {
    width: calc(100%/12 * 1);
  }
  .col-xs-2 {
    width: calc(100%/12 * 2);
  }
  .col-xs-3 {
    width: calc(100%/12 * 3);
  }
  .col-xs-4 {
    width: calc(100%/12 * 4);
  }
  .col-xs-5 {
    width: calc(100%/12 * 5);
  }
  .col-xs-6 {
    width: calc(100%/12 * 6);
  }
  .col-xs-7 {
    width: calc(100%/12 * 7);
  }
  .col-xs-8 {
    width: calc(100%/12 * 8);
  }
  .col-xs-9 {
    width: calc(100%/12 * 9);
  }
  .col-xs-10 {
    width: calc(100%/12 * 10);
  }
  .col-xs-11 {
    width: calc(100%/12 * 11);
  }
  .col-xs-12 {
    width: calc(100%/12 * 12);
  }
}

@media only screen and (min-width: 576px) {
  .col-sm-1 {
    width: calc(100%/12 * 1);
  }
  .col-sm-2 {
    width: calc(100%/12 * 2);
  }
  .col-sm-3 {
    width: calc(100%/12 * 3);
  }
  .col-sm-4 {
    width: calc(100%/12 * 4);
  }
  .col-sm-5 {
    width: calc(100%/12 * 5);
  }
  .col-sm-6 {
    width: calc(100%/12 * 6);
  }
  .col-sm-7 {
    width: calc(100%/12 * 7);
  }
  .col-sm-8 {
    width: calc(100%/12 * 8);
  }
  .col-sm-9 {
    width: calc(100%/12 * 9);
  }
  .col-sm-10 {
    width: calc(100%/12 * 10);
  }
  .col-sm-11 {
    width: calc(100%/12 * 11);
  }
  .col-sm-12 {
    width: calc(100%/12 * 12);
  }
}

@media only screen and (min-width: 768px) {
  .col-md-1 {
    width: calc(100%/12 * 1);
  }
  .col-md-2 {
    width: calc(100%/12 * 2);
  }
  .col-md-3 {
    width: calc(100%/12 * 3);
  }
  .col-md-4 {
    width: calc(100%/12 * 4);
  }
  .col-md-5 {
    width: calc(100%/12 * 5);
  }
  .col-md-6 {
    width: calc(100%/12 * 6);
  }
  .col-md-7 {
    width: calc(100%/12 * 7);
  }
  .col-md-8 {
    width: calc(100%/12 * 8);
  }
  .col-md-9 {
    width: calc(100%/12 * 9);
  }
  .col-md-10 {
    width: calc(100%/12 * 10);
  }
  .col-md-11 {
    width: calc(100%/12 * 11);
  }
  .col-md-12 {
    width: calc(100%/12 * 12);
  }
}

@media only screen and (min-width: 1024px) {
  .col-lg-1 {
    width: calc(100%/12 * 1);
  }
  .col-lg-2 {
    width: calc(100%/12 * 2);
  }
  .col-lg-3 {
    width: calc(100%/12 * 3);
  }
  .col-lg-4 {
    width: calc(100%/12 * 4);
  }
  .col-lg-5 {
    width: calc(100%/12 * 5);
  }
  .col-lg-6 {
    width: calc(100%/12 * 6);
  }
  .col-lg-7 {
    width: calc(100%/12 * 7);
  }
  .col-lg-8 {
    width: calc(100%/12 * 8);
  }
  .col-lg-9 {
    width: calc(100%/12 * 9);
  }
  .col-lg-10 {
    width: calc(100%/12 * 10);
  }
  .col-lg-11 {
    width: calc(100%/12 * 11);
  }
  .col-lg-12 {
    width: calc(100%/12 * 12);
  }
}
