#features{
    padding-top:5%;
    text-align: center;

    .feature-wrapper{
        padding: 20%;
        background-color:$primary-bg-color;
        border-radius: 5px;
        height: auto;
    }
}