@mixin gridSystem{
    @each $key,$value in $breakpoints {
        @media only screen and (min-width: #{$value}) {
            @for $i from 1 through $columns {
                .col-#{$key}-#{$i}{
                    width: calc(100%/12 * #{$i});
                }
            }
        }
    }
}

@mixin button-theme($btn-color){
    background-color:$btn-color;
    padding:10px 20px;
    border-radius:20px;
}

@mixin badge-theme($badge-bg-color,$badge-color){
    display: inline-block;
    background-color:$badge-bg-color;
    padding:10px 10px;
    color:$badge-color;
    border-radius:5px;
}
