/*Colors*/
$primary-color: #2264D1;
$secondary-color: #2979FF;
$primary-text-color:#19191D;
$primary-bg-color:#EDEDF0;
$secondary-bg-color:#F7F7FA;
$basket-bg-color: #F44336;
$product-price-color:#000;
$secondary-subtext-color: #5A5B6A;
$primary-subtext-color: #787885;
$border-color: #9DC2FF;
/*Colors*/

/*Button colors*/
$btn-primary-color:#EDEDF0;
$btn-orange-color:#F2994A;
$btn-blue-color:#56CCF2;
$btn-red-color:#F44336;
/*Button colors*/

/*Badge colors*/
$badge-deal-bg-color:#FDEDF2;
$badge-deal-color:#C23564;
$badge-sale-bg-color:#ECF7ED;
$badge-sale-color:#37833B;
/*Badge colors*/